<header class="header">
  <h1>todos</h1>
  @if ((loading$ | ngrxPush) === false) {
    <app-new-todo (addTodo)="onAddTodo($event)"></app-new-todo>
  } @else {
    <div>loading...</div>
  }
</header>
@if (hasTodos$ | ngrxPush) {
  <app-todo-list
    [todos]="filteredTodos$ | ngrxPush"
    (toggle)="onToggle($event)"
    (update)="onUpdate($event)"
    (delete)="onDelete($event)"
  ></app-todo-list>
  <app-footer
    [hasCompletedTodos]="hasCompletedTodos$ | ngrxPush"
    [undoneTodosCount]="undoneTodosCount$ | ngrxPush"
    [currentFilter]="currentFilter$ | ngrxPush"
    (filter)="onFilter($event)"
    (clearCompleted)="onClearCompleted()"
  ></app-footer>
}
